@import "button.css";
@import "navbar.css";
@import "media-query.css";

:root {
    --full-white: #FFFFFF;
    --black: #111725;

    --light-gray:#e6e6e6;

    --light-blue:#2bb6d8;
    --light-blue-hover:#159fc2;

    /* color for error */
    --red: #FF6663;
}

body {
    background-color: var(--light-gray)!important;
}

.sv-login-page-form {
    position: fixed;
    right: 0;
    bottom: 50%;
}
.sv-login-page {
    background-image: url("../images/slika2.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sv-image-card {
    max-height: 303px;
    min-height: 303px;
}
.sv-border-bottom{
    border-bottom: 1px solid var(--light-blue-hover);
}

.bl-home {
    height: 90vh
}
.bl-news-header{
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-blue-hover);
}
.bl-news-add{
    justify-content:center;
    text-align: center;
    display: flex;
}
.bl-news-actions{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.bl-schedule{
    flex: 1;
    margin-top: 15px;
    margin-bottom: 10px;
}
.bl-schedule-select{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bl-select-label{
    font-size: 20px;
    margin-right: 10px;
}
.bl-schedule-container{
    flex:1;
    /*padding:10px;*/
}
.bl-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.bl-appointments-select{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bl-appointments-header{
    display: flex;
    flex-direction: row;
}
.bl-radiobutton{
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 20px;
}
.bl-home-title{
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 90vh;
    padding-bottom: 100px;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5px;
}
.bl-container{
    height: 400px;
    display: flex;
    flex-direction: column;
}
.bl-messages {
    max-height: 300px;
    min-height: 300px;
    border-radius: 20px;
    padding:10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.bl-message{
    display: flex;
    flex-direction: column;
}
.bl-inputbox{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.bl-sentIcon{
    margin-left: 10px;
}
.bl-message-text{
    background-color: #cbc9c9;
    border-radius: 10px;
    max-width: 300px;
    text-wrap: normal;
    min-height: 20px;
    padding: 10px;

}
.bl-message-user{
    margin-left: 5px;
}
.bl-confirmation-footer{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.bl-btn{
    width:100px;
    margin-right: 10px;
}